.main-footer{
    width: 100%;
    height: 925px;
    background-color: rgb(14,56,44);
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.footer-container{
    width: 85%;
    /* background-color: aquamarine; */
}
.footer-sec1{
    width: 100%;
    height: 76%;
    display: flex;
    justify-content: space-between;
    padding-top: 9%;
    color: #fff;
    /* background-color: cadetblue; */
}
.footer-sec2{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    color: #fff;
    /* background-color: blue; */
}
.footer-logo{
    width: 108%;
}
.footer-heading{
    padding-bottom: 28px;
    cursor: pointer;
    color: #fff;
}
.footer-Ul{
    list-style-type: none;
    letter-spacing: 1px;
    line-height: 24px;
}
.footer-Li{
    font-size: .95rem;
    padding-bottom: 30px;
}
a{
    text-decoration: none;
    color: #fff;
}
.socialmedia-div{
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 24px;
}
.socialmeadia-heading{
    font-size: 1.3rem;
    padding-bottom: 28px;
}
.socialmediaImg-div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.socialmediaImg{
    width: 118%;
}
.androidIos-div{
    display: flex;
    flex-direction: column;
}
.androIos{
    width: 110%;
    margin-bottom: 4%;
}

.sec2-bottom1, .sec2-bottom2{
    height: 50%;
    display: flex;
    align-items: center;
}
.sec2-bottom1-ul{
    display: flex;
    align-items: center;
    font-size: .8rem;
    margin: .125rem .625rem;
    gap: 10px ; 
}
.bottomLi{
    padding: .1rem .5rem;
    font-size: .8rem;
}
.liborder{
    border-right: 1px solid #b3b3b3;
}
.bottom2Li{
    font-size: .6em;
}