.home-contents{
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    /* margin-top: 5%; */
}
.home-content1{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30,57,50);
    color: rgb(242,239,222);
    font-size: 14px;
    font-weight: 400px;
    font-family: 
    SoDoSans_Semibold (woff2)
    Helvetica
    sans-serif;
    line-height: 24px;
}
.top1{
    width: 40%;
    display: flex;
    justify-content: start;
}
.top2{
    width: 40%;
    display: flex;
    justify-content: end;
}
h5{  
font-size: 20px;
font-weight: 300px;
}
.homebutton1{
    width: 15%; 
    padding: 12px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(242,239,222);
    border-radius: 50px;
    border: 1px solid rgb(242,239,222);
    background-color: transparent;
}
/* ----------------------------------------------------- */
.home-content2{
    width: 80%;
    height: 32%;
    /* height: 250px; */
    border-radius: 10px;
    background-color:rgb(241,94,39);
    margin-top: 2.3%;
    color: white;
    font-size: 20px;
    font-family: 
    SoDoSans_Regular (woff2)
    Helvetica
    sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.home-content2-button1, .home-content2-button2{
    /* width: 10%; */
    padding: 11px;
    background-color: white;
    border-radius: 60%;
    border-style: none;
}
.home-content2-button1{
    position: absolute;
    right: 98%;
}
.home-content2-button2{
    position: absolute;
    left: 98%;
}
.dashboardImg-div{
    width: 10%;
}
.dashboardImg1{
    width: 40%;
}

.handcraftedImgs{
    width: 15%;
    border-radius: 60px;
} 