.home-content1{
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30,57,50);
    color: rgb(242,239,222);
    font-size: 14px;
    font-weight: 400px;
    font-family: 
    SoDoSans_Semibold (woff2)
    Helvetica
    sans-serif;
    line-height: 24px;
}
.top1{
    width: 40%;
    display: flex;
    justify-content: start;
}
.top2{
    width: 40%;
    display: flex;
    justify-content: end;
}
h5{  
font-size: 20px;
font-weight: 300px;
}
.homebutton1{
    width: 15%; 
    padding: 12px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(242,239,222);
    border-radius: 50px;
    border: 1px solid rgb(242,239,222);
    background-color: transparent;
}
/* ----------------------------------------------------- */
.home-content2{
    width: 100%;
    height: 40%;
    background-color: red;
}
.slider{
    display: flex;
}
.dasboardImg1{
    width: 40%;
}