.navbar{
    width: 100%;
    height: 79px;
    background-color: rgb(255,255,255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:4px solid rgb(224,228,231);
    font-family: SoDoSans_Bold, Helvetica, sans-serif;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    z-index: 1;
}
.nav-leftSec{
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-starbuckslogo-div{
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: end;

}
.nav-starbuckslogo{
    width: 75%;
}
.nav-a-div{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.nav-leftSec a{
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
.nav-leftSec a:hover{
    color: #00754a;
}
.nav-rightSec{
    width: 40%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}
.nav-searchdiv{
    width: 41%;
    padding: 1.2%;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
.nav-searchdiv:active{
    outline: 1px solid black;
}
.navSearchImg{
    width: 8%;
}
.nav-searchdiv input{
    width: 80%;
    padding: 4px;
    border: none;
    outline: none;
    background-color: transparent;
}

/* ----------------------Responsive styles-------------------- */

@media (max-width: 1024px) {
    .navbar {
        height: auto; 
        justify-content: space-between;
        padding: 10px;
        flex-direction: column;
    }
    .nav-leftSec{
        width: 90%; 
        flex-direction: column; 
        align-items: center;
    }
    .nav-rightSec{
        display: flex;
    }
    .nav-leftSec a, .nav-rightSec a {
        margin: 3%;
        font-size: 0.9rem;
    }
    .nav-starbuckslogo-div {
        width: 10%;
    }
    .nav-searchdiv {
        width: 75%; 
        padding: 1.6%;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 2%;
    }
    .nav-leftSec, .nav-rightSec {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .nav-leftSec a, .nav-rightSec a {
        font-size: 0.9rem;
    }
    .nav-searchdiv {
        width: 60%;
        margin: 1%;
    }
    .nav-starbuckslogo-div {
        width: 12%;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px;
    }
    .nav-leftSec a, .nav-rightSec a {
        font-size: 0.75rem;
    }
    .nav-searchdiv{
        padding: 1%;
        
    }
    .nav-starbuckslogo-div {
        width: 15%;
    }
}

